<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.business.dao.VFemsCsrDetailListMapper">
  <resultMap id="BaseResultMap" type="com.small.business.entity.po.VFemsCsrDetailList">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="con_id" jdbcType="BIGINT" property="conId" />
    <result column="blade" jdbcType="VARCHAR" property="blade" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="construction_moment" jdbcType="DOUBLE" property="constructionMoment" />
    <result column="hertz_moment" jdbcType="DOUBLE" property="hertzMoment" />
    <result column="year_moment" jdbcType="DOUBLE" property="yearMoment" />
    <result column="construction_preload" jdbcType="DOUBLE" property="constructionPreload" />
    <result column="hertz_preload" jdbcType="DOUBLE" property="hertzPreload" />
    <result column="year_preload" jdbcType="DOUBLE" property="yearPreload" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node, node_id, node_name, con_id, blade, num, specification, construction_moment, 
    hertz_moment, year_moment, construction_preload, hertz_preload, year_preload, create_time, 
    create_user_id, create_user_name, update_time, update_user_id, update_user_name, 
    role
  </sql>
  <select id="selectByConId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from v_fems_csr_detail_list
    where con_id = #{conId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_fems_csr_detail_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from v_fems_csr_detail_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.small.business.entity.po.VFemsCsrDetailList">
    insert into v_fems_csr_detail_list (id, node, node_id, 
      node_name, con_id, blade, 
      num, specification, construction_moment, 
      hertz_moment, year_moment, construction_preload, 
      hertz_preload, year_preload, create_time, 
      create_user_id, create_user_name, update_time, 
      update_user_id, update_user_name, role
      )
    values (#{id,jdbcType=BIGINT}, #{node,jdbcType=VARCHAR}, #{nodeId,jdbcType=BIGINT}, 
      #{nodeName,jdbcType=VARCHAR}, #{conId,jdbcType=BIGINT}, #{blade,jdbcType=VARCHAR}, 
      #{num,jdbcType=BIGINT}, #{specification,jdbcType=VARCHAR}, #{constructionMoment,jdbcType=DOUBLE},
      #{hertzMoment,jdbcType=DOUBLE}, #{yearMoment,jdbcType=DOUBLE},#{hertzMomentTimes,jdbcType=DOUBLE}, #{yearMomentTimes,jdbcType=DOUBLE}, #{constructionPreload,jdbcType=DOUBLE},
      #{hertzPreload,jdbcType=DOUBLE}, #{yearPreload,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
      #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.small.business.entity.po.VFemsCsrDetailList">
    insert into v_fems_csr_detail_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="node != null">
        node,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="conId != null">
        con_id,
      </if>
      <if test="blade != null">
        blade,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="constructionMoment != null">
        construction_moment,
      </if>
      <if test="hertzMoment != null">
        hertz_moment,
      </if>
      <if test="yearMoment != null">
        year_moment,
      </if>
      <if test="hertzMomentTimes != null">
        hertz_moment_times,
      </if>
      <if test="yearMomentTimes != null">
        year_moment_times,
      </if>
      <if test="constructionPreload != null">
        construction_preload,
      </if>
      <if test="hertzPreload != null">
        hertz_preload,
      </if>
      <if test="yearPreload != null">
        year_preload,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="node != null">
        #{node,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="conId != null">
        #{conId,jdbcType=BIGINT},
      </if>
      <if test="blade != null">
        #{blade,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="constructionMoment != null">
        #{constructionMoment,jdbcType=DOUBLE},
      </if>
      <if test="hertzMoment != null">
        #{hertzMoment,jdbcType=DOUBLE},
      </if>
      <if test="yearMoment != null">
        #{yearMoment,jdbcType=DOUBLE},
      </if>
      <if test="hertzMomentTimes != null">
        #{hertzMomentTimes,jdbcType=DOUBLE},
      </if>
      <if test="yearMomentTimes != null">
        #{yearMomentTimes,jdbcType=DOUBLE},
      </if>
      <if test="constructionPreload != null">
        #{constructionPreload,jdbcType=DOUBLE},
      </if>
      <if test="hertzPreload != null">
        #{hertzPreload,jdbcType=DOUBLE},
      </if>
      <if test="yearPreload != null">
        #{yearPreload,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.small.business.entity.po.VFemsCsrDetailList">
    update v_fems_csr_detail_list
    <set>
      <if test="node != null">
        node = #{node,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="conId != null">
        con_id = #{conId,jdbcType=BIGINT},
      </if>
      <if test="blade != null">
        blade = #{blade,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="constructionMoment != null">
        construction_moment = #{constructionMoment,jdbcType=DOUBLE},
      </if>
      <if test="hertzMoment != null">
        hertz_moment = #{hertzMoment,jdbcType=DOUBLE},
      </if>
      <if test="yearMoment != null">
        year_moment = #{yearMoment,jdbcType=DOUBLE},
      </if>
      <if test="hertzMomentTimes != null">
        hertz_moment_times = #{hertzMomentTimes,jdbcType=DOUBLE},
      </if>
      <if test="yearMomentTimes != null">
        year_moment_times = #{yearMomentTimes,jdbcType=DOUBLE},
      </if>
      <if test="constructionPreload != null">
        construction_preload = #{constructionPreload,jdbcType=DOUBLE},
      </if>
      <if test="hertzPreload != null">
        hertz_preload = #{hertzPreload,jdbcType=DOUBLE},
      </if>
      <if test="yearPreload != null">
        year_preload = #{yearPreload,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.small.business.entity.po.VFemsCsrDetailList">
    update v_fems_csr_detail_list
    set node = #{node,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=BIGINT},
      node_name = #{nodeName,jdbcType=VARCHAR},
      con_id = #{conId,jdbcType=BIGINT},
      blade = #{blade,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT},
      specification = #{specification,jdbcType=VARCHAR},
      construction_moment = #{constructionMoment,jdbcType=DOUBLE},
      hertz_moment = #{hertzMoment,jdbcType=DOUBLE},
      year_moment = #{yearMoment,jdbcType=DOUBLE},
      hertz_moment_times = #{hertzMomentTimes,jdbcType=DOUBLE},
      year_moment_times = #{yearMomentTimes,jdbcType=DOUBLE},
      construction_preload = #{constructionPreload,jdbcType=DOUBLE},
      hertz_preload = #{hertzPreload,jdbcType=DOUBLE},
      year_preload = #{yearPreload,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>